* {
  box-sizing: border-box;
  /* margin: 0; */
}

* button {
  cursor: pointer;
  outline: none;
}

body {
  margin: 0;
}

.body {
  overflow: hidden;
}

.kont {
  position: relative
}

.kont video {
  width: 100%;
  height: auto;
  display: block;
  height: 100vh;
  position: relative;
  z-index: 10;
  object-fit: cover;
}

.kont .ent {
  position: absolute;
  right: 0;
  bottom: 40px;
  z-index: 15;
  left: 0;
  text-align: center;
}

.button {
  background: transparent;
  padding: 18px 90px;
  margin: 0 auto;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Josefin Sans";
  border-radius: 50px;
  border: 4px solid black;
  transition: all 300ms ease;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.number {
  text-align: center;
  color: black;
  position: relative;
  font-family: "Josefin Sans";
  font-size: 65px;
  font-weight: 300;
  margin: 15px 0 5px 0;
  line-height: 1;
}

.description {
  margin: 0;
  text-align: center;
  color: black;
  position: relative;
  font-family: "Josefin Sans";
  font-size: 17px;
  line-height: 25px;
  font-weight: normal;
}

.popup {
  position: relative;
  margin: 0 auto;
  display: block;
  background: white;
  width: 200px;
  height: 50px;
  color: black;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Josefin Sans";
  border-radius: 50px;
  border: 4px solid #e30cda;
  transition: all 600ms ease;
}

.popup:hover {
  border: 4px solid #e30cda;
  background: #e30cda;
  color: white;
}

.popup .popuptext {
  visibility: hidden;
  width: 260px;
  background-color: #000768;
  color: white;
  text-align: center;
  border-radius: 36px;
  padding: 30px 30px;
  position: absolute;
  z-index: 1;
  bottom: 170%;
  left: 25%;
  margin-left: -80px;
  line-height: 40px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000768 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#puder1 {
  height: 478px;
  weight: 300px;
  left: 0;
  position: absolute;
}

#puder2 {
  position: absolute;
  right: 0;
  margin-top: 330px;
  z-index: -2;
  height: 522px;
  width: 270px;
}

.button:hover {
  color: #e30cda;
  background: rgba(227, 12, 218, 0.1);
  border: 4px solid #e30cda;
  box-shadow: none;
}

#naslovi {
  float: none;
  font-family: "Josefin Sans";
  font-size: 28px;
  font-weight: bold;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  transform: rotate(-14deg);
  justify-content: space-between;
  padding: 0 70px;
}

#linije {
  position: absolute;
}

.prvideo {
  clear: both;
  position: relative;
  z-index: 1;
  display: inline-block;
  /* margin-left: 300px;
  margin-right: 300px; */
  width: 100%;
  margin-top: 215px;
}

/* .line {
  position: relative;
  width: 90%;
  float: right;
  height:50px;
  background:transparent;
  border-top: solid 3px black;
  top:310px;
  transform-origin: top right;
  transform: skewY(-14deg);
}
.shape{
  width:70px;
  height:10px;
  margin-top:-20px;
  background:#e30cda;
}
.two{
  width:75%;
  top:570px;
}
.first{
  background:#000768;
}
.three{
  width:85%;
  top:1085px;
}
.second{
  background:#0090c0;
} */
.top,
.bottom {
  display: flex;
}

.top {
  margin-bottom: 140px;
}

.with-line {
  position: relative;
}

.with-line:before {
  content: '';
  height: 3px;
  left: -70px;
  width: 7000px;
  position: absolute;
  background: #000;
  bottom: -20px;
}

.with-line:after {
  content: '';
  height: 10px;
  left: -70px;
  width: 70px;
  position: absolute;
  bottom: -10px;
  transform: skewY(-14deg) rotate(14deg);
}

.with-line.purple:after {
  background: #B800AD;
}

.with-line.cyan:after,
.with-line.cyan:before {
  left: 220px;
}

.with-line.cyan:after {
  background: #1AB5D7;
}

.with-line.blue:after,
.with-line.blue:before {
  left: 270px;
}

.with-line.blue:after {
  background: #00007D;
}

.item-top,
.item-bottom {
  flex: 0 0 calc(100% / 4);
  text-align: center;
}

.item-top p,
.item-bottom p {
  margin: 0;
  padding: 0 10px;
}

.item-top p:first-of-type {
  margin-bottom: 15px;
}

.item-top-ime {
  font-size: 26px;
  font-weight: 300;
}

.item-top img,
.item-bottom img {
  object-fit: cover;
  margin-bottom: 15px;
}

.group-item p {
  display: block;
}

.group-item img {
  align-items: center;
  display: block;
  margin: 0 auto;
}

.color-light {
  font-weight: 300;
  margin-top: -15px;
  text-align: center;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  min-height: 100px;
  min-width: 100px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms ease;
  font-family: "Josefin Sans";
  font-weight: 300;
  color: white;
  height: 100vh;
  /* viewport height */
  overflow-y: auto;
}

.topnav #myLinks.visible {
  transform: translateX(0);
  opacity: 1;
}

/* Style the hamburger menu */
.topnav a#icon {
  background: rgba(1, 1, 1, 1);
  position: absolute;
  right: 0;
  z-index: 10;
  width: 100px;
  height: 100px;
  transition: all .25s ease-in-out;
}

.topnav a#icon.open {
  background: transparent;
}

.topnav a#icon:not(.open):hover {
  background-color: rgba(1, 1, 1, 1);
}

#icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 60%;
  background: white;
  border-radius: 7px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transition: all .25s ease-in-out;
}

#icon span:nth-child(1) {
  top: calc(50% - 16px);
  transform-origin: left center;
}

#icon span:nth-child(2) {
  top: calc(50% - 2px);
  transform-origin: left center;
}

#icon span:nth-child(3) {
  top: calc(50% + 12px);
  transform-origin: left center;
}

#icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 27px;
  left: 30px;
}

#icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 68px;
  left: 30px;
}

/* Add a grey background color on mouse-over */
.kocka {
  height: calc(100% / 3);
  min-height: 250px;
}

.kocka a {
  color: white;
  padding: 75px 45px 40px 45px;
  text-decoration: none;
  font-size: 45px;
  display: inline-block;
}

.tekstumeniju {
  line-height: 30px;
  font-size: 20px;
  padding-left: 50px;
  margin: 0;
}

.meniprvakocka {
  background-color: #c509bd;
}

.meniprvakocka:hover {
  background-color: #9a0193;
}

.menidrugakocka {
  background-color: #000768;
}

.menidrugakocka:hover {
  background-color: #050547;
}

.menitrecakocka {
  background-color: #00a8e1;
}

.menitrecakocka:hover {
  background-color: #097bbc;
}

/* Style the active link (or home/logo) */
.active {
  background-color: transparent;
  color: white;
}

.slikedeo {
  display: flex;
  align-items: flex-start;
  margin-top: 70px;
  transform: rotate(-14deg);
  position: relative;
  left: -50px;
}

#dodatak {
  top: -452px;
  display: block;
  left: -96px;
  position: absolute;
}

#dodatak~img {
  margin-right: -425px;
}

img#a {
  margin-left: -489px;
}

#zanaslov {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  /* center p horizontally */
  align-items: center;
  /* center p vertically */
}

#zanaslov p {
  font-family: "Josefin Sans";
  color: black;
  font-size: 45px;
  margin-left: 20px;
  margin-right: 20px;
}

#linkovi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 60px;
}

#linkovi a {
  width: 125px;
  height: 125px;
  background-color: #d9d9d9;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  transition: all 300ms ease;
}

#linkovi a.link-facebook:hover {
  background-color: #000768;
}

#linkovi a.link-instagram:hover {
  background-color: #e30cda;
}

#linkovi a.link-mail:hover {
  background-color: #0090c0;
}

#linkovi a svg {
  transition: all 1000ms ease;
  /* transform-origin: 50% 50%; */
}

#linkovi a:hover svg {
  fill: white;
  transform: scale(1.25) translate(-50%, -50%);
}

#linkovi a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}

.cetvrtideo {
  background-color: #d9d9d9;
  max-width: 100%;
  height: 650px;
  font-family: "Josefin Sans";
  font-size: 30px;
  padding-top: 30px;
  display: block;
  align-items: center;
}

#ce {
  padding: 0 15px;
}

.poravnanje {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.kocke {
  height: 194px;
  width: 315px;
  border: solid 3px;
  border-color: white;
  font-weight: 300;
  position: relative;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 50px;
  margin-top: 30px;
  vertical-align: middle;
}

.kocke p {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cetvrtideo a:hover {
  color: #e30cda;
}

.button2:hover {
  background-color: #e30cda;
  color: white;
}

.kontaktdeo {
  margin-bottom: 200px;
}

.open-button {
  font-family: "Josefin Sans";
  font-size: 25px;
  display: flex;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #4c4c4c;
  border: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  justify-content: center;
  margin-top: 30px;
}

.open-button:hover {
  color: #e30cda;
}

#myForm {
  display: none;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  font-size: 21px;
  font-family: "Josefin Sans";
}

/* Add styles to the form container */
.form-container {
  /* margin: auto; */
  /* margin-top: 200px; */
  max-width: 500px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin: 0 50px 0 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.abc {
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  font-family: "Josefin Sans";
  outline: none
}

.abc.textarea {
  height: 100px;
  resize: none;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 100px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  font-family: "Josefin Sans";
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #e30cda;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  font-size: 16px;
  font-family: "Josefin Sans";
  cursor: pointer;
}

.form-container .btn.submit {
  transition: all 500ms ease;
}

.form-container .btn.submit:hover {
  background-color: #AA0FAA;
}

.form-container .btn.cancel {
  position: absolute;
  top: 0;
  right: -45px;
  width: auto;
  padding: 0;
  height: 40px;
  width: 40px;
  font-size: 18px;
  color: #e30cda;
}

.form-container .btn.cancel:hover {
  color: #fff;
  border-color: #fff;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: transparent;
  border: 2.5px solid #e30cda;
  color: black;
}

.tekst {
  padding-top: 50px;
  padding-bottom: 50px;
  text-decoration: none;
  font-size: 21px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: 300;
  vertical-align: text-top;
}

.tekst p {
  margin: 0;
}

.linkovi {
  padding: 50px 0;
}

.zafooter {
  font-family: "Josefin Sans";
  /* margin-left: 217px; */
  display: flex;
  margin: 0 70px;
  flex-wrap: wrap;
}

.zafooter a {
  color: white;
  text-decoration: none;
  transition: all 300ms ease;
}

.zafooter a:hover {
  color: #e30cda;
}

.zafooter2 {
  margin-top: -0.3%;
  position: relative;
  background-image: url("imagesindex/footer.png")
}

#linkovi2 a svg:hover {
  fill: #c509bd;
  transition: all 300ms ease;
}

#linkovi2 a svg path {
  fill: #c509bd;
  position: absolute;
}

.krug {
  color: transparent;
  position: relative;
  border-radius: 50%;
  margin-bottom: 15px;
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.krug svg {
  display: block;
}

.krug:hover {
  /* border: 2px solid #c509bd; */
  transition: all 300ms ease;
  /* border-radius: 50%; */
  border-color: #c509bd;
}

@media screen and (max-width: 1670px) {
  .prvideo {
      margin-top: 140px;
  }

  #dodatak {
    max-width: 300px;
    height: auto;
    left: 0;
    top: -225px;
  }

  .top {
    margin-bottom: 90px;
  }

  .item-top p,
  .item-bottom p {
    font-size: 20px;
  }

  img#a {
    margin-left: -255px;
  }

  #dodatak~img {
    max-width: 400px;
    height: auto;
    margin-right: -200px;
  }

  .with-line.cyan:before,
  .with-line.cyan:after {
    left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-kolona {
    margin-right: 20px;
    width: calc(100% / 4 - 15px);
    flex: 0 0 calc(100% / 4 - 15px);
  }

  .footer-kolona:nth-child(4) {
    margin-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .item-top img,
  .item-bottom img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 636px) {
  #puder1 {
    display: none;
  }

  .prvideo {
      margin-top: 30px;
  }

  .item-top,
  .item-bottom {

  }

  #naslovi {
      transform: none;
      padding: 0 20px;
  }

  #dodatak {
    left: -120px;
    top: -205px;
  }

  #dodatak~img {
    margin-right: -225px;
  }

  .top {
    margin-bottom: 40px;
  }

  .slikedeo {
      transform: none;
      left: 0;
  }

  .with-line:before,
  .with-line:after {
    display: none;
  }
}

@media screen and (max-width: 1199px) and (min-width: 636px) {
  #zanaslov {
    padding-top: 70px;
  }

  #zanaslov p {
    font-size: 35px;
  }

  #linkovi {
    margin-bottom: 50px;
  }

  #linkovi a {
    width: 100px;
    height: 100px;
  }
  .group-item p {
    display: block;
  }

  .group-item img {
    align-items: center;
    display: block;
    margin: 0 auto;
  }

  .cetvrtideo {
    background-color: #d9d9d9;
    max-width: 100%;
    height: 900px;
    font-family: "Josefin Sans";
    font-size: 25px;
    padding-top: 30px;
    display: block;
    align-items: center;
  }

  .poravnanje {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .kocke {
    height: 194px;
    width: 300px;
    border: solid 3px;
    border-color: white;
    font-weight: 300;
    position: relative;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 50px;
    margin-top: 30px;
    vertical-align: middle;
  }

  #er {
    height: 70px;
  }

  .color-light {
    font-weight: 300;
    margin-top: -15px;
    text-align: center;
    font-size: 20px;
  }

  #puder1 {
    height: 280px;
    width: auto;
    left: 0;
    position: absolute;
  }

  #puder2 {
    position: absolute;
    right: 0;
    margin-top: 330px;
    z-index: -2;
    height: 300px;
    width: 130px;
  }

  .footer-kolona {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% / 2 - 10px);
    flex: 0 0 calc(100% / 2 - 10px);
  }

  .footer-kolona {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;
  }

  .footer-kolona:nth-child(2n) {
    margin-right: 0;
  }

  .tekst,
  .linkovi {
    padding: 20px 0
  }

  .linkovi {
    display: flex;
    align-items: flex-start;
  }
}


@media screen and (max-width: 768px) {
  #puder1 {
    transform: translateY(-50%);
  }

  #puder2 {
    display: none;
  }
}

@media screen and (max-width: 635px) and (min-width: 370px) {
  body {
    margin: auto;
    width: 100%
  }

  .description{
    padding-left:40px;
    padding-right:40px;
  }
  #zanaslov {
    padding-top:20px;
  }

  #zanaslov p {
    font-size: 20px;
  }

  #linkovi {
    margin-bottom: 40px;
  }

  #linkovi a {
    width: 80px;
    height: 80px;
  }
  .footer-kolona {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .footer-kolona {
    font-size: 16px;
    margin-bottom: -20px;
    margin-top: -20px;
  }

  .linkovi {
    display: flex;
    align-items: flex-start;
  }

  .group-item p {
    display: block;
  }
  .item-top p{
    font-size: 17px;
  }
  .item-bottom p{
    font-size: 17px;
  }

  .group-item img {
    align-items: center;
    display: block;
    margin: 0 auto;
  }

  .cetvrtideo {
    background-color: #d9d9d9;
    max-width: 100%;
    height: 630px;
    font-family: "Josefin Sans";
    font-size: 17px;
    padding-top: 30px;
    display: block;
    align-items: center;
  }

  .poravnanje {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .kocke {
    height: 100px;
    width: 180px;
    border: solid 3px;
    border-color: white;
    font-weight: 300;
    position: relative;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 50px;
    margin-top: 30px;
    vertical-align: middle;
  }

  .color-light {
    font-weight: 300;
    margin-top: -15px;
    text-align: center;
    font-size: 20px;
  }

  .open-button {
    font-family: "Josefin Sans";
    font-size: 19px;
    display: flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #4c4c4c;
    border: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    justify-content: center;
    margin-top: 30px;
  }

  #puder1 {
    height: 280px;
    width: 100px;
    left: 0;
    position: absolute;
  }

  #puder2 {
    position: absolute;
    right: 0;
    margin-top: 330px;
    z-index: -2;
    height: 300px;
    width: 130px;
  }

  #linkovi a {
    width: 95px;
    height: 95px;
    background-color: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
    transition: all 300ms ease;
  }

  #zanaslov p {
    font-family: "Josefin Sans";
    color: black;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 495px) and (min-width: 370px){

  .item-top p{
    font-size: 15px;
  }
  .item-bottom p{
    font-size: 15px;
  }
  #naslovi {
      transform: none;
      padding: 0 5px;
  }
  .item-top p,
  .item-bottom p {
    margin: 0;
    padding: 0 5px;

  }

}

@media screen and (max-width: 369px) {
  #dodatak {
    top: -200px;
    display: block;
    left: -160px;
    position: absolute;
    height: 200px;}

    #dodatak~img {
      margin-right: -220px;
    }

  .item-top p,
  .item-bottom p {
    margin: 0;
    padding: 0 10px;
  }

  .item-top p:first-of-type {
    margin-bottom: 10px;
  }

  .item-top-ime {

    font-weight: 300;
  }

  .item-top img,
  .item-bottom img {
    object-fit: cover;
    margin-bottom: 0px;
  }
  .item-top{
    margin-bottom: 20px;
  }
  .top,
  .bottom {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  .item-top p{
    font-size: 15px;
  }
  .item-bottom p{
    font-size: 15px;
  }
  #naslovi {
      transform: none;
      padding: 0 5px;
  }
  .footer-kolona {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  #zanaslov {
    padding-top:10px;
  }
  #linkovi {
    margin-bottom:30px;
  }

  .footer-kolona {
    font-size: 16px;
    margin-bottom: -20px;
    margin-top: -20px;
  }

  .linkovi {
    display: flex;
    align-items: flex-start;
  }

  .topnav {
    height: 100vh;
  }

  .group-item p {
    font-size: 12px;
    padding-bottom: 10px;
    display: block;
  }

  .group-item img {
    align-items: center;
    display: block;
    margin: 0 auto;
  }

  .cetvrtideo {
    background-color: #d9d9d9;
    max-width: 100%;
    height: 550px;
    font-family: "Josefin Sans";
    font-size: 19px;
    padding-top: 30px;
    padding-left:10px;
    padding-right: 10px;
    line-height: 25px;
    display: block;
    align-items: center;
  }

  .poravnanje {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .kocke {
    height: 80px;
    width: 140px;
    border: solid 1px;
    border-color: white;
    font-weight: 300;
    position: relative;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    vertical-align: middle;
  }

  .color-light {
    font-weight: 300;
    margin-top: -15px;
    text-align: center;
  }

  .open-button {
    font-family: "Josefin Sans";
    font-size: 19px;
    display: flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #4c4c4c;
    border: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    justify-content: center;
    margin-top: 20px;
  }

  #puder1 {
    height: 280px;
    width: 100px;
    left: 0;
    margin-top: 120px;
    margin-left: -70px;
    position: absolute;
  }

  #puder2 {
    position: absolute;
    right: 0;
    margin-top: 280px;
    z-index: -2;
    height: 300px;
    width: 130px;
  }

  #sat {
    margin-top: 32depx;
  }

  #linkovi a {
    width: 75px;
    height: 75px;
    background-color: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
    transition: all 300ms ease;
  }

  #zanaslov p {
    font-family: "Josefin Sans";
    color: black;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .kocka a {
    color: white;
    padding: 75px 45px 40px 45px;
    text-decoration: none;
    font-size: 35px;
    display: inline-block;
  }

  .tekstumeniju {
    line-height: 30px;
    font-size: 15px;
    padding-left: 50px;
    margin: 0;
  }




  #b {
    height: 200px;
  }

  #a {
    height: 200px;
  }

  #c {
    height: 200px;
  }

  #d {
    height: 200px;
  }

  #e {
    height: 200px;
  }

  #f {
    height: 200px;
  }

  .popup {
    position: relative;
    margin: 0 auto;
    display: block;
    background: white;
    width: 150px;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Josefin Sans";
    border-radius: 50px;
    border: 2px solid #e30cda;
    transition: all 600ms ease;
  }
  .group-item img {
    align-items: center;
    display: block;
    margin: 0 auto;
  }


  .description {
    margin: 0;
    text-align: center;
    color: black;
    position: relative;
    font-family: "Josefin Sans";
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 15px;
    font-weight: normal;
  }

  .number {
    text-align: center;
    color: black;
    position: relative;
    font-family: "Josefin Sans";
    font-size: 55px;
    font-weight: 300;
    margin: 15px 0 5px 0;
    line-height: 1;
  }

  .button {
    background: transparent;
    padding: 14px 60px;
    margin: 0 auto;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Josefin Sans";
    border-radius: 50px;
    border: 4px solid black;
    transition: all 300ms ease;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  }
}
}
